
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CommentList</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/font.css">
    <link rel="stylesheet" href="~/css/xadmin.css">
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/js/xadmin.js"></script>
    <script src="~/js/tool.js"></script>
</head>
<body>
    <div class="x-body">
        <div class="demoTable" style="margin:15px">
            <form class="layui-form" onsubmit="return false;" id="x-form">
                标题：
                <div class="layui-inline">
                    <input class="layui-input" name="title" placeholder="请输入案例标题" id="txtTitle" autocomplete="off">
                </div>
                评论者：
                <div class="layui-inline">
                    <input class="layui-input" name="critics" placeholder="请输入评论者" id="critics" autocomplete="off">
                </div>
                <button class="layui-btn" data-type="reload" id="search">搜索</button>
            </form>
        </div>
        <table class="layui-table" lay-filter="tabs" id="tableList"></table>
    </div>
    <!--头部工具栏-->
    <script type="text/html" id="toolbarDemo">
        <button class="layui-btn layui-btn-danger" lay-event="delAll"><i class="layui-icon"></i>批量删除</button>
    </script>
    <!--行内工具栏-->
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    </script> 
    <script type="text/javascript">
        //获取地址栏id
        var idd = decodeURI(getQueryString("id"));
        idd = idd == "null" ? "" : idd;
        //日期格式化
        function FormatToDate(val) {
            if (val != null) {
                var date = new Date(parseInt(val.replace("/Date(", "").replace(")/", ""), 10));
                //月份为0-11，所以+1，月份小于10时补个0
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
                return date.getFullYear() + "-" + month + "-" + currentDate + "  " + hours + ":" + minutes + ":" + seconds;
            }
            return "";
        }
        layui.use(['form', 'layer', 'table'], function () {
            var form = layui.form, table = layui.table, layer = layui.layer;
            //表格头
            table.render({
                elem: '#tableList'
                , id: 'testReload'
                , height: 520
                , url: '/back/Comment/CommentLists'
                , where: {id:idd}
                , toolbar: '#toolbarDemo'
                , method: 'post'
                ,page:true
                , cols: [[ //表头
                { type: 'checkbox' }
                , { field: 'comId', title: 'Id', width: 50, sort: true }
                , { field: 'Cont', title: '评论内容', width: 300 }
                , { field: 'UserName', title: '评论者', width: 80 }
                , { field: 'Title', title: '评论文章', width: 300 }
                , { field: 'CommentTime', title: '评论时间', templet: function (d) { return FormatToDate(d.CommentTime) }, width: 180 }
                , { field: 'right', align: 'left', title: '操作', toolbar: '#barDemo' }
                ]]
            });
            //重载
            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                  , where: {
                      title: $("#txtTitle").val(),
                      critics:$("#critics").val()
                  }
                });
            });
            //行内工具栏
            table.on('tool(tabs)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                if (layEvent === 'del') {//删除当前行
                    layer.confirm('真的删除行么', function (index) {
                        //向服务端发送删除指令
                        $.post("/Back/Comment/DelComment", { id: data.comId }, function (res) {
                            if (res.success) {
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                layer.close(index);
                                layer.msg("删除成功", { time: 2000, icon: 6 });
                            } else {
                                layer.msg("删除失败:" + res.message, { icon: 5 });
                            }
                        }, "json");
                    });
                }
            });
            //头部工具栏
            table.on('toolbar(tabs)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event)
                {
                    case 'delAll'://批量删除
                        var data = checkStatus.data;
                        if (checkStatus.data.length == 0) {
                            layer.msg('请先选择要删除的数据行！', { icon: 2 });
                            return;
                        }
                        layer.confirm('真的删除行么', function (index) {
                            var ids = "";
                            for (var i = 0; i < checkStatus.data.length; i++) {
                                ids += checkStatus.data[i].comId + " ";
                            }
                            layer.close(index);
                            layer.msg('删除中...', { icon: 16, time: 5000 });
                            $.post('/Back/Comment/DelComment',
                                    { id: ids },
                                    function (res) {
                                        if (res.success) {
                                            layer.msg("删除成功", { time: 2000, icon: 6 });
                                            location.reload(true);
                                        } else {
                                            layer.msg("删除失败" + res.message, { icon: 5 });
                                        }
                                    }
                            );
                        });
                        break;
                }
            });
        });
    </script>
</body>
</html>
